<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <input type="email" name="email" id="">
  <input type="password" name="password" id="">
  <button type="submit">Log In</button>

</form>