<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <label for="text">Name</label><br>
  <input type="text" name="name" id=""><br>
  <label for="text">Email</label><br>
  <input type="text" name="email" id=""><br>
  <label for="text">Password</label><br>
  <input type="password" name="password" id=""><br>
  <button type="submit">Sign Uplearn submit
  </button>



</form>

